<launch>
    <node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode"/>
    <node pkg="ball_detection" type="ball_detect_1" name="ball_detect_1"/>
    <node pkg="ball_detection" type="ball_detect_2" name="ball_detect_2"/>
    <node pkg="ball_detection" type="ball_detect_3" name="ball_detect_3"/>
    <node pkg="image_transport_tutorial" type="my_publisher" name="my_publisher"/>
</launch>
